
.admin__Wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .adminTabs {
        display: flex;
        justify-content: center;
        margin: 0 0 30px 0;

        .item {
            border-bottom: 3px solid #000;
            padding: 10px;
            margin: 0 15px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            opacity: 0.3;
            
            &.active {
                opacity: 1;
                color: $clr_accent;
                border-bottom: 3px solid $clr_accent;;
            }
        }
    }

    .sendMailWrap {
        width: 100%;
    
        .title3 {
            margin: 0 0 30px 0;
            flex-basis: 100%;
        }
    
        .component {
            flex-basis: 100%;
            display: flex;
            justify-content: center;
            margin: 0px 0 40px 0;
    
            form {
                width: 100%;
            }
    
            .fileName {
                margin: 30px 0 30px;
                font-weight: 800;
                padding: 0 10px;
            }
            
            .btn {
                width: 80%;
                margin: auto;
            }

            .radioWrap {
                display: flex;

                .inputField {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 30px 20px 0;

                    .radInfo {
                        label {
                            background: transparent;
                            border: none;
                            width: auto;
                            height: auto;
                        }
                    }
                }
            }
        }
    }

    .mailHistWrap {
        width: 100%;

        .title3 {
            margin: 0 0 30px 0;
            flex-basis: 100%;
        }

        .component {

            .inbox__messages {
                @extend %card;
                padding: 15px;
        
                .inbox__item {
                    display: flex;
        
                    align-items: center;
                    justify-content: space-between;
                    padding: 15px 0;
        
                    border-bottom: thin solid $clr_secondary;
                    
                    &:last-child() {
                        border-bottom: none;
                    }
                    
                    .inbox__info {
                        display: flex;
            
                        align-items: center;
                        justify-content: space-between;
            
                        .inbox__date {
                            color: $clr_accent;
                            font-weight: 900;
                            font-size: 14px;
                        }
                        .inbox__name {
                            font-weight: 900;
                            font-size: 20px;
                            margin: 5px 0;
                        }
                        .inbox__user {
                            font-weight: 900;
                            font-size: 16px;
                            margin: 5px 0;
                        }
                        .inbox__description {
                            font-size: 14px;
                        }
                    }

                    .inbox__status {
                        width: 100px;
                        text-align: center;
                        line-height: 1.1;
                        font-weight: 700;

                        .new {
                            color: $clr_success;
                        }
                        .leaved {
                            color: $clr_primary;
                        }
                        .sended {
                            color: $clr_accent;
                        }
                        .noTrackTtl {
                            color: $clr_error;
                        }

                        .noTrack {
                            color: $clr_error;
                            font-size: 12px;
                        }
                        .withTrack {
                            color: $clr_primary;
                            font-size: 12px;
                        }
                    }
                }
            }

        }

        .favBtn {
            position: fixed;
            bottom: 80px;
            right: 20px;
            width: 50px;
            height: 50px;
            background: $clr_accent;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
        }
    }

}

.admDocModal {
    h2#swal2-title {
        font-size: 20px;
    }

    .swal2-content {
        img {
            width: 100%;
            height: auto;
        }
    }
    .admDocModalicon {
        width: 50px;
        height: 50px;
        margin: 0 0 10px 0;

        .swal2-icon-content {
            font-size: 2.25em;
        }
    }
    small {
        font-size: 14px;
    }
    b {
        font-weight: 900;
    }
    
}

.downloadModal {

    .swal2-radio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        label {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            font-size: 18px !important;
        
            input {
                width: 24px;
            }
        }

        input#swal2-input {
            font-size: 16px;
            text-align: center;
        }
    }
    #swal2-actions {
        padding: 0;
    }
}

.date-picker-wrapper {
    z-index: 10000;
    width: 230px;
    
    font-size: 12px;
    
    .month-wrapper {
        table {
            width: 220px;
            .day {
                font-size: 16px;
            }
        }
    }

    .first-date-selected,
    .last-date-selected {
        background-color: $clr_accent !important;
        color: #fff !important;
    }
    .first-date-selected {
        border-radius: 12px 0 0 12px;
    }
    .last-date-selected {
        border-radius: 0 12px 12px 0;
    }
}